body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: linear-gradient(45deg, rgb(211, 211, 211), rgb(0, 0, 255));
    padding: 10px;
    display: flex;
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.menu a{
    text-decoration: none;
    font-weight: bold;
    color:blue;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid blue;
    padding: 0.5%;
    border-radius: 7px;
}

a{
    color: red;
}

.list tr td{
    padding: 2px;
}